.diagram {
    &__section {
        min-height: calc(100vh - 73px);
        background: rgb(238, 174, 202);
        background: linear-gradient(0deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
        padding: 30px 0;
        color: #2a2438;
        transition: color 0.3s;
    }
    &__container {
        position: relative;
    }
    &__block {
        box-sizing: border-box;
        padding: 50px 0;
        display: grid;
        grid-auto-columns: 100px;
        grid-auto-flow: column;
        column-gap: 11px;
        justify-content: center;
        position: relative;
        white-space: nowrap; 
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            display: block;
            top: 50%;
            z-index: 10;
            background-color: #5c5470;
            transition: background-color 0.3s;
        }
    }
    &__overlay {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #2a2438, $alpha: 0.3);
        backdrop-filter: blur(5px);
        z-index: 20;
        visibility: hidden;
        transition: 0.3s;
        opacity: 0;
        &.active {
            visibility: visible;
            opacity: 1;
        }
        &-icon {
            fill: #fff;
            width: 50px;
            transform: translate(-50%, -50%);
            animation: icon-animate 1s linear infinite;
        }
    }
}

@media (max-width: 1200px) {
    .diagram {
        &__block {
            justify-content: initial;
        }
    }
}

@media (max-width: 600px) {
    .diagram {
        &__block {
            grid-auto-columns: 50px;
        }
    }
}

.theme-dark.diagram {
    .diagram {
        &__section {
            background: #1b1f3a;
            background: linear-gradient(180deg, #1b1f3a 0%, rgba(44, 44, 92, 1) 35%, #53354a 100%);
            color: #fff;
        }
        &__block {
            &:before {
                background-color: #a64942;
            }
        }
        &__overlay {
            background-color: rgba($color: #1b1f3a, $alpha: 0.3);
        }
    }
}

@keyframes icon-animate {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}
