.filter-button {
    width: 100%;
    &__label {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        box-sizing: border-box;
        background-color: rgba($color: #5c5470, $alpha: 0.3);
        cursor: pointer;
        transition: background-color 0.3s;
        &:hover {
            background-color: rgba($color: #5c5470, $alpha: 0.7);
        }
    }

    &__radio {
        width: 0;
        height: 0;
        margin: 0;
        &:after {
            content: "";
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            height: 0;
            display: block;
            background-color: #2a2438;
        }
        &:checked {
            &::after {
                height: 5px;
                transition: height .1s;
            }
        }
    }

    &__name {
        font-weight: 500;
        text-transform: capitalize;
    }
}

.theme-dark.filter-button {
    .filter-button {
        &__label {
            background-color: rgba($color: #a64942, $alpha: 0.3); 
            &:hover {
                background-color: rgba($color: #a64942, $alpha: 0.7);
            }
        }
        &__radio {
            &:after {
                background-color: #ff7844;
            }
        }
    }
}