.diagram-interface {
    display: grid;
    grid-template-columns: 150px auto;
    align-items: center;
    margin: 10px 0;
    &__form {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 10px;
        justify-items: center;
    }
    &__article {
        text-align: center;
        font-weight: 600;
    }
}

@media(max-width:500px) {
    .diagram-interface {
        grid-template-columns: 1fr;
        &__form {
            width: 100%;
        }
    }
}
