.diagram-item {
    height: 60vh;
    position: relative;
    &:after {
        position: absolute;
        display: block;
        content: "";
        background-color: #5c5470;
        left: calc(100% + 5px);
        width: 1px;
        top: 0;
        height: 100%;
        transition: background-color 0.3s;
    }
    &:last-child {
        &::after {
            display: none;
        }
    }
    &__value {
        position: absolute;
        width: 100%;
        background: linear-gradient(
            0deg,
            rgba(89, 153, 228, 1) 0vh,
            rgba(152, 147, 166, 1) 15vh,
            rgba(210, 148, 175, 1) 30vh
        );
        &--negative {
            background: linear-gradient(
                180deg,
                rgba(89, 153, 228, 1) 0vh,
            rgba(152, 147, 166, 1) 15vh,
            rgba(210, 148, 175, 1) 30vh
            );
        }
        &:before {
            position: absolute;
            top: -50px;
            left: 50%;
            transform: translateX(-50%);
            content: attr(data-counter);
        }
        &:after {
            content: attr(data-value);
            position: absolute;
            display: block;
            background-color: #dbd8e3;
            border-radius: 3px;
            padding: 2px 5px;
            left: 50%;
            transform: translateX(-50%);
            bottom: calc(100% + 5px);
        }
    }
    &__name {
        text-align: center;
        position: absolute;
        bottom: -30px;
        width: 100%;
        word-wrap: break-word;
        transition: transform .3s;
        will-change: transform;
    }
}

@media(max-width:1080px) {
    .diagram-item {
        &__name {
            transform: rotate(-180deg) translateX(-50%);
            right: 50%;
            position: absolute;
            word-wrap: normal;
            width: fit-content;
            bottom: 10px;
            writing-mode:vertical-rl;
            text-align: left;
        }
        &__value {
            &:after {
                font-size: 12px;
                padding: 2px 3px;
            }
            &:before {
                font-size: 14px;
            }
        }
    }
}

.theme-dark.diagram-item {
    &:after {
        background-color: #a64942;
    }
    .diagram-item {
        &__value {
            background: linear-gradient(
                0deg,
                rgba(131, 58, 180, 1) 0vh,
                rgba(253, 29, 29, 1) 15vh,
                rgba(252, 176, 69, 1) 30vh
            );
            &--negative {
                background: linear-gradient(
                    180deg,
                    rgba(131, 58, 180, 1) 0vh,
                    rgba(253, 29, 29, 1) 15vh,
                    rgba(252, 176, 69, 1) 30vh
                );
            }
            &:after {
                background-color: #a64942;
            }
        }
    }
}
