.header {
    &__section {
        color: #2a2438;
        background-color: #dbd8e3;
        padding: 15px 0;
        z-index: 20;
        position: relative;
        box-shadow: 0 1px 1px rgba($color: #2a2438, $alpha: 0.12), 0 2px 2px rgba($color: #2a2438, $alpha: 0.12),
            0 4px 4px rgba($color: #2a2438, $alpha: 0.12), 0 8px 8px rgba($color: #2a2438, $alpha: 0.12),
            0 16px 16px rgba($color: #2a2438, $alpha: 0.12);
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        &-item {
            display: flex;
            align-items: center;
        }
    }
    &__button {
        border-radius: 50px;
        border: 2px solid #352f44;
        width: 80px;
        height: 30px;
        outline: none;
        cursor: pointer;
        position: relative;
        transition: 0.3s;
        box-shadow: inset 0 0 3px rgba($color: #000, $alpha: 0.3);
        background-color: #dbd8e3;
        &-desc {
            font-size: 18px;
            font-weight: 600;
            display: block;
            padding-right: 10px;
        }
        &:before {
            content: "";
            position: absolute;
            display: block;
            top: 50%;
            left: 17%;
            transform: translate(-50%, -50%);
            border-radius: 100%;
            height: 20px;
            width: 20px;
            background-color: #2a2438;
            transition: 0.3s;
        }
    }
    &__article {
        margin: 0;
        font-size: 32px;
    }
}

@media (max-width: 600px) {
    .header {
        &__article {
            font-size: 22px;
        }
        &__button {
            width: 30px;
            height: 10px;
            &-desc {
                font-size: 12px;
            }
            &:before {
                height: 18px;
            width: 18px;
            }
        }
    }
}

.theme-dark.header {
    .header {
        &__section {
            color: #ff7844;
            background-color: #1b1f3a;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12),
                0 8px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12);
        }
        &__button {
            border-color: #a64942;
            background-color: #53354a;
            &:before {
                left: 83%;
                background-color: #ff7844;
            }
        }
    }
}
