.section {
    transition: background-color .3s;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    padding: 0 25px;
    margin: 0 auto;
}

::selection {
    background-color: grey;
    color: white;
}

// ::-webkit-scrollbar {
//     width: 10px;
//   }
  
//   /* Track */
//   ::-webkit-scrollbar-track {
//     background: #f1f1f1;
//   }
  
//   /* Handle */
//   ::-webkit-scrollbar-thumb {
//     background: #888;
//   }
  
//   /* Handle on hover */
//   ::-webkit-scrollbar-thumb:hover {
//     background: #555;
//   }